@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    /* background: crimson; */
    font-family: 'Poppins', sans-serif;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 25px 0;
    background: crimson;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;     /*Makes the content align from start to end with space between the elements  */
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style:none;
    display: inline-block;
    padding: 10px;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;

}

.navbar .logo a span{
    color:crimson;
}

/* Menu button styling */

.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home {
    display: flex;
    background : url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}


.home .home-content a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 22px;
    padding : 10px 35px;
    border-radius: 6px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-color: crimson;

}

.home .home-content a:hover{
    color:crimson;
    background: none;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 27px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}


/* about section styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}

.about .max-width{
    margin: auto 0 auto 40px;
}

.about .sub-title{
    text-align: center;
    font-size: 18px;
    color:crimson;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: ubuntu,sans-serif;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .column-left{
    padding-left: 20px;
    width:45%;
}

.about .column-left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: poppins,sans-serif;
}

.about .about-content .column-right{
    width:55%;
}


.about .about-content .about-text-1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .about-me{
    text-align: justify;
}

.about .column-right a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 22px;
    padding : 10px 35px;
    border-radius: 6px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-color: crimson;
}

.about .column-right a:hover{
    color:crimson;
    background: none;
}


/* services section styling */
.services{
    background-color: black;
}
.services .title{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: poppins,sans-serif;
}

.services .subtitle{
    text-align: center;
    font-size: 18px;
    color:crimson;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: ubuntu,sans-serif;

}

.services .services-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .column{
    width: calc(31% - 20px);
    background-color: rgb(41, 41, 41);
    padding : 20px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(41, 41, 41);
    border-radius: 7px;
    text-align: center;
    margin-right: 30px;
    font-family: ubuntu,sans-serif;
}
.services .column:hover{
    background-color: crimson;
    cursor:pointer;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.services .column:hover i{
    color: white;
}

.services .column-heading{
    padding-top: 15px;
    color:white;
    font-size: 28px;
    font-weight: 500;
    font-family: poppins;
}

.services .column-para{
    padding-top: 15px;
    padding-bottom: 15px;
    color:white;
    font-size: 16px;
    font-family: poppins;
}
.services .column i{
    font-size: 50px;
    color:crimson;
}

/* skills section styling */
.skills .title{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: poppins,sans-serif;
}

.skills .sub-title{
    text-align: center;
    font-size: 18px;
    color:crimson;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: ubuntu,sans-serif;
}

.skills .skills-content a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 22px;
    padding : 10px 35px;
    border-radius: 6px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-color: crimson;
}

.skills .skills-content a:hover{
    color:crimson;
    background: none;
}

.skills .skills-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .left-heading{
    font-size: 25px;
    font-family: poppins;
    margin-bottom: 15px;
}

.skills .skills-content .left-para{
    font-size: 16px;
    font-family: poppins;
    text-align: justify;
    margin-bottom: 5px;
}

.skills .column-left{
    width: 46%;
}

.skills .column-right{
    width: 46%;
}

.skills .column-right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .column-right .line::before{
    content: "";
    height: 5px;
    position: absolute;        /* Positon absolute is important */  
    width: 90%;
    background: crimson;
}
.skills .column-right span{
    font-size: 18px;
    font-weight: 500;
}

.skills .column-right .bars{
    margin-bottom: 15px;
}

.skills .column-right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

/* my team section which is services in html styling */
.services .column:hover img{
    border-color: white;
}
.services .column img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 3px solid crimson;
    border-radius: 50%;
}

/* Contact section styling */

.contact .title{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: poppins,sans-serif;
}

.contact .subtitle{
    text-align: center;
    font-size: 18px;
    color:crimson;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: ubuntu,sans-serif;
}

.contact .contact-content{
    display: flex;
}

.contact .column-left{
    width: 47%;
    margin-right: 30px;
}

.contact .info{
    display: flex;
}

.contact .info-box{
    display: flex;
    height: 65px;
    align-items: center;
    margin-top: 10px;
}

.contact .info-details{
    display: block;
}

.contact .info-box i{
    font-size: 30px;
    color: crimson;
}

.contact .info-details{
    margin-left: 30px;
}

.contact .column-left h3{
    font: size 24px;
    font-family: poppins;
}

.contact .column-left p{
    font-size: 18px;
    margin-top: 5px;
}

.contact .column-right{
    width:46%;
}
.contact .info-details .head{
    font-weight: 500;
    font-style: poppins;
}

.contact .column-right .form-heading{
    font-size:35px;
    font-weight: 600;
    font-family: poppins;
}

.contact .column-right .field{
    height: 45px;
    width:100%;
    font-size: 16px;
    font-family: poppins;
    border: solid 1px lightgrey;
    border-radius:5px;
    margin-top:20px;
    padding-left: 20px;
}

.contact .column-right a{
    display: inline-block;
    background:crimson;
    color: white;
    font-size: 22px;
    padding : 10px 35px;
    border-radius: 6px;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-color: crimson;
}

.contact .column-right a:hover{
    color:crimson;
    background: none;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer a{
    color:crimson;
}
/* responsive media query start */

@media (max-width: 947px){
    .max-width{
        max-width: 939px;
        padding: 0 50px;
        margin: auto;
    }

    .home .max-width{
        width: 100%;
        display: flex;

    }

    .menu-btn{
        color: white;
        display:block;
        z-index:999;
    }

    .menu-btn i.active:before{
        content:"\f00d";
    }

    .navbar .menu{
        position:fixed;
        height:100vh;
        width:100%;
        left :-100%;
        top:10px;    
        background: black;
        text-align:center;
        padding-top:80px;
    }
    .navbar .menu.active{
        left:0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
        color:crimson;
    }

    .about .about-content{
        display: block;
    }

    .about .column-left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .column-right{
        width: 100%;
    }

    .about .max-width{
        padding: 0px 50px;
    }

    .services .column{
        width: 45%;
        margin-right: 2px;
        margin-bottom: 20px;
    }

    .skills .column{
        display: block;
    }

    .skills .column-left{
        width: 100%;
    }

    .skills .column-right{
        margin-top: 20px;
        width: 100%;
    }

}
@media (max-width: 1250px){
    .about .column-left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 6px;
    }
    about .about-content .column-left{
        padding-left: 10px;
        width:40%;
    }
}

@media (max-width: 600px){
    .services .column{
        width:100%;
    }
}